main{
    width: 100%;
    height: 100vh;
}

.container_first{
    height: 100vh;
    margin: 24px;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    gap: 24px;
    grid-template-columns: auto repeat(5, auto);
    grid-template-rows: auto repeat(10, auto)
}

.one{
    grid-row: 1 / 4 ;
    grid-column: 1/3 ;
    background: #007F5F;
}

.two{
    grid-row: 4 / 7 ;
    grid-column: 1 / 3;
    background: #2B9348;
}

.three{
    grid-row: 7/11;
    grid-column: 1/3;
    background: #55A630;
}

.four{
    grid-area: 1 / 3 / 7 / 5 ;
    background: #80B918;
}

.five{
    grid-area: 7 / 3 / 9 / 4;
    background: #AACC00;
}

.six{
    grid-area: 9 / 3 /11 /4 ;
    background: #BFD200;
}

.seven{
    grid-area: 1 / 5 / 3 / 7;
    background: #DDDF00;
}

.eight{
    grid-area: 3 / 5 / 5 / 7;
    background: #EEEF20;
}

.nine{
    grid-area: 5 / 5 / 7 / 7;
    background: #FFFF3F;
}

.ten{
    grid-area: 7 / 4 / 11 / 6;
    background: #D4D700;
}

.eleven{
    grid-area: 7 / 6 / 11 / 7;
    background: #007F5F;
}

.twelve{
    grid-area: 11 / 1 / 13 / 7;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
    padding: 24px 34px;
    background: #9BC1BC;
}
